nav {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
}

.navigationItem a {
  padding: 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: currentColor;
  display: flex;
  align-items: center;
}
