@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700i|Fira+Sans&display=swap');

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #ffffff;
  background: #171923;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 3em;
  margin-bottom: 2em;
}
h2 {
  font-size: 2.75em;
  margin-bottom: 1.5em;
}
h3 {
  font-size: 2.5em;
  margin-bottom: 1.5em;
}
h4 {
  font-size: 2em;
  margin-bottom: 1em;
}
h5 {
  font-size: 1.75em;
  margin-bottom: 1em;
}
h6 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", cursive;
  font-weight: normal;
  line-height: 1em;
}

a {
  color: currentColor;
  text-decoration: none;
  transition-duration: 200ms;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 5vmin;
  box-sizing: border-box;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.instagram img {
  margin: 0 auto;
  max-width: 100%;
  width: 320px;
  padding: 16px 0;
}

@media(min-width: 768px) {
  .instagram img {
    float: right;
    padding: 0 0 16px 16px;
  }
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

blockquote {
  position: relative;
  margin: 0 auto;
  padding: 0 2em;
  text-align: center;
  font-size: 32px;
  display: inline-block;
}

blockquote br {
  display: none;
}

blockquote p {
  margin: 0;
}

blockquote:before {
  content: '“';
  position: absolute;
  left: 0;
  top: 0;
  font-size: 64px;
  line-height: 64px;
}

blockquote:after {
  content: '”';
  position: absolute;
  right: 0;
  top: 0;
  font-size: 64px;
  line-height: 64px;
}
